# Statistics: Mean

**The variables are as follows:**

Team

League

Year

Runs Scored (RS)

Runs Allowed (RA)

Wins (W)

On-Base Percentage (OBP)

Slugging Percentage (SLG)

Batting Average (BA)

Playoffs (binary)

RankSeason

RankPlayoffs

Games Played (G)

Opponent On-Base Percentage (OOBP)

Opponent Slugging Percentage (OSLG)

In [2]:
from sympy import symbols, Sum, IndexedBase
from sympy.abc import i, n

# Define an indexed variable
x = IndexedBase('x')

# Define the expression for mean
expr = Sum(x[i], (i, 1, n)) / n

print(expr)

Sum(x[i], (i, 1, n))/n

In [3]:
import pandas as pd
data = pd.read_csv("C:\\Users\\Farzana Saif\\Downloads\\archive\\baseball.csv")
#print (data)
data
#data.shape

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,0,NaN,NaN,161,NaN,NaN
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,0,NaN,NaN,161,NaN,NaN
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,1.0,2.0,165,NaN,NaN
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,0,NaN,NaN,163,NaN,NaN
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,0,NaN,NaN,162,NaN,NaN

In [4]:
data.columns

Index(['Team', 'League', 'Year', 'RS', 'RA', 'W', 'OBP', 'SLG', 'BA',
       'Playoffs', 'RankSeason', 'RankPlayoffs', 'G', 'OOBP', 'OSLG'],
      dtype='object')

In [5]:
data.dtypes

Team             object
League           object
Year              int64
RS                int64
RA                int64
W                 int64
OBP             float64
SLG             float64
BA              float64
Playoffs          int64
RankSeason      float64
RankPlayoffs    float64
G                 int64
OOBP            float64
OSLG            float64
dtype: object

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,1232.0,1988.957792,14.819625,1962.000,1976.750,1989.000,2002.000,2012.000
RS,1232.0,715.081981,91.534294,463.000,652.000,711.000,775.000,1009.000
RA,1232.0,715.081981,93.079933,472.000,649.750,709.000,774.250,1103.000
W,1232.0,80.904221,11.458139,40.000,73.000,81.000,89.000,116.000
OBP,1232.0,0.326331,0.015013,0.277,0.317,0.326,0.337,0.373
SLG,1232.0,0.397342,0.033267,0.301,0.375,0.396,0.421,0.491
BA,1232.0,0.259273,0.012907,0.214,0.251,0.260,0.268,0.294
Playoffs,1232.0,0.198052,0.398693,0.000,0.000,0.000,0.000,1.000
RankSeason,244.0,3.122951,1.738349,1.000,2.000,3.000,4.000,8.000
RankPlayoffs,244.0,2.717213,1.095234,1.000,2.000,3.000,4.000,5.000
G,1232.0,161.918831,0.624365,158.000,162.000,162.000,162.000,165.000
OOBP,420.0,0.332264,0.015295,0.294,0.321,0.331,0.343,0.384
OSLG,420.0,0.419743,0.026510,0.346,0.401,0.419,0.438,0.499

In [7]:
#Simplest mean : Mean of any column

mean_RS= data['RS'].mean()
print(mean_RS)

715.0819805194806

In [8]:
#Or##
data.RS.mean()

np.float64(715.0819805194806)

In [9]:
#Mean : Mean of any column by any team

data.loc[data.Team == "ARI"]
data.loc[data.Team == "ARI"].RS.mean()

np.float64(742.2)

In [10]:
#Mean : Mean of any column by any team of any specific year

data.loc[(data.Team == "ARI") & (data.Year > 2009)].RS.mean()
data.loc[(data.Team == "ARI") & (data.Year.isin([2005, 2007, 2009]))].RS.mean()
data.loc[(data.Team == "ARI") & (data.Year.isin([2005, 2007, 2009]))]
data.loc[data.Team == "ARI"].sort_values(by="RS", ascending=False).iloc[0]
data.loc[data.Team == "ARI"].groupby("Year")["RS"].mean()
mean_rs = data.loc[data.Team == "ARI"].groupby("Year")["RS"].mean()
max_mean_year = mean_rs.idxmax()
print("Year:", max_mean_year, "Mean RS:", mean_rs[max_mean_year])

Year: 1999 Mean RS: 908.0

In [11]:
#Mean RA

data.RA.mean()
data.loc[data.Team == "CHC"].RA.mean()
data.loc[(data.Team == "CHC") & (data.Year <= 2007)].RA.mean()

np.float64(727.2619047619048)

In [12]:
data.RA.mean()

np.float64(715.0819805194806)

In [13]:
data.loc[data.Team == "CHC"].RA.mean()

np.float64(727.0212765957447)

In [14]:
data.loc[(data.Team == "CHC") & (data.Year <= 2007)]

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
154,CHC,NL,2007,752,690,85,0.333,0.422,0.271,1,5.0,4.0,162,0.322,0.399
184,CHC,NL,2006,716,834,66,0.319,0.422,0.268,0,NaN,NaN,162,0.342,0.431
214,CHC,NL,2005,703,714,79,0.324,0.440,0.270,0,NaN,NaN,162,0.325,0.407
245,CHC,NL,2004,789,665,89,0.328,0.458,0.268,0,NaN,NaN,162,0.321,0.395
275,CHC,NL,2003,724,683,88,0.323,0.416,0.259,1,7.0,3.0,162,0.324,0.372
305,CHC,NL,2002,706,759,67,0.321,0.413,0.246,0,NaN,NaN,162,0.331,0.407
335,CHC,NL,2001,777,701,88,0.336,0.430,0.261,0,NaN,NaN,162,0.321,0.398
365,CHC,NL,2000,764,904,65,0.335,0.411,0.256,0,NaN,NaN,162,0.348,0.452
395,CHC,NL,1999,747,920,67,0.329,0.420,0.257,0,NaN,NaN,162,0.346,0.467
425,CHC,NL,1998,831,792,90,0.337,0.433,0.264,1,6.0,4.0,163,NaN,NaN
454,CHC,NL,1997,687,759,68,0.321,0.396,0.263,0,NaN,NaN,162,NaN,NaN
482,CHC,NL,1996,772,771,76,0.320,0.401,0.251,0,NaN,NaN,162,NaN,NaN
510,CHC,NL,1993,738,739,84,0.325,0.414,0.270,0,NaN,NaN,163,NaN,NaN
538,CHC,NL,1992,593,624,78,0.307,0.364,0.254,0,NaN,NaN,162,NaN,NaN
564,CHC,NL,1991,695,734,77,0.309,0.390,0.253,0,NaN,NaN,160,NaN,NaN
590,CHC,NL,1990,690,774,77,0.314,0.392,0.263,0,NaN,NaN,162,NaN,NaN
616,CHC,NL,1989,702,623,93,0.319,0.387,0.261,1,2.0,3.0,162,NaN,NaN
642,CHC,NL,1988,660,694,77,0.310,0.383,0.261,0,NaN,NaN,163,NaN,NaN
668,CHC,NL,1987,720,801,76,0.326,0.432,0.264,0,NaN,NaN,161,NaN,NaN
694,CHC,NL,1986,680,781,70,0.318,0.398,0.256,0,NaN,NaN,160,NaN,NaN
720,CHC,NL,1985,686,729,77,0.324,0.390,0.254,0,NaN,NaN,162,NaN,NaN
746,CHC,NL,1984,762,658,96,0.331,0.397,0.260,1,2.0,3.0,161,NaN,NaN
772,CHC,NL,1983,701,719,71,0.319,0.401,0.261,0,NaN,NaN,162,NaN,NaN
798,CHC,NL,1982,676,709,73,0.317,0.375,0.260,0,NaN,NaN,162,NaN,NaN
824,CHC,NL,1980,614,728,64,0.309,0.365,0.251,0,NaN,NaN,162,NaN,NaN
850,CHC,NL,1979,706,707,80,0.329,0.403,0.269,0,NaN,NaN,162,NaN,NaN
876,CHC,NL,1978,664,724,79,0.331,0.361,0.264,0,NaN,NaN,162,NaN,NaN
902,CHC,NL,1977,692,739,81,0.330,0.387,0.266,0,NaN,NaN,162,NaN,NaN
928,CHC,NL,1976,611,728,75,0.313,0.356,0.251,0,NaN,NaN,162,NaN,NaN
952,CHC,NL,1975,712,827,75,0.338,0.368,0.259,0,NaN,NaN,162,NaN,NaN
976,CHC,NL,1974,669,826,66,0.327,0.365,0.251,0,NaN,NaN,162,NaN,NaN
1000,CHC,NL,1973,614,655,77,0.320,0.357,0.247,0,NaN,NaN,161,NaN,NaN
1024,CHC,NL,1971,637,648,83,0.325,0.378,0.258,0,NaN,NaN,162,NaN,NaN
1048,CHC,NL,1970,806,679,84,0.333,0.415,0.259,0,NaN,NaN,162,NaN,NaN
1072,CHC,NL,1969,720,611,92,0.323,0.384,0.253,0,NaN,NaN,163,NaN,NaN
1096,CHC,NL,1968,612,611,84,0.298,0.366,0.242,0,NaN,NaN,163,NaN,NaN
1116,CHC,NL,1967,702,624,87,0.316,0.378,0.251,0,NaN,NaN,162,NaN,NaN
1136,CHC,NL,1966,644,809,59,0.313,0.380,0.254,0,NaN,NaN,162,NaN,NaN
1155,CHC,NL,1965,635,723,72,0.307,0.358,0.238,0,NaN,NaN,164,NaN,NaN
1174,CHC,NL,1964,649,724,76,0.314,0.390,0.251,0,NaN,NaN,162,NaN,NaN
1194,CHC,NL,1963,570,578,82,0.297,0.363,0.238,0,NaN,NaN,162,NaN,NaN
1214,CHC,NL,1962,632,827,59,0.317,0.377,0.253,0,NaN,NaN,162,NaN,NaN

# Median

**Mean and Median comparing first**

In [18]:
print(data.W.mean())
print(data.W.median())

80.90422077922078
81.0

Another way to show

In [19]:
print(data.W.mean())
data.W.median()

80.90422077922078

np.float64(81.0)

Exercise : Median of Wins of the Baltimore Team (BAL) until 2000

In [21]:
data.loc[(data.Team == "BAL") & (data.Year <= 2000)].W.median()

np.float64(89.0)

In [22]:
data.loc[(data.Team == "BAL") & (data.Year <= 2000)].W.mean()

np.float64(87.6)

# Mode

**Will check 3 statistics, Mean, Median and Mode : OBP(On Based Percentage)**

In [ ]:
print(data.OBP.mean())
print(data.OBP.median())
print(data.OBP.mode())