# Statistics: Mean

**The variables are as follows:**

Team

League

Year

Runs Scored (RS)

Runs Allowed (RA)

Wins (W)

On-Base Percentage (OBP)

Slugging Percentage (SLG)

Batting Average (BA)

Playoffs (binary)

RankSeason

RankPlayoffs

Games Played (G)

Opponent On-Base Percentage (OOBP)

Opponent Slugging Percentage (OSLG)

In [2]:
from sympy import symbols, Sum, IndexedBase
from sympy.abc import i, n

# Define an indexed variable
x = IndexedBase('x')

# Define the expression for mean
expr = Sum(x[i], (i, 1, n)) / n

print(expr)

Sum(x[i], (i, 1, n))/n

In [17]:
import pandas as pd
data = pd.read_csv("C:\\Users\\Farzana Saif\\Downloads\\archive\\baseball.csv")
#print (data)
data
#data.shape

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,0,NaN,NaN,161,NaN,NaN
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,0,NaN,NaN,161,NaN,NaN
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,1.0,2.0,165,NaN,NaN
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,0,NaN,NaN,163,NaN,NaN
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,0,NaN,NaN,162,NaN,NaN

In [14]:
data.columns

Index(['Team', 'League', 'Year', 'RS', 'RA', 'W', 'OBP', 'SLG', 'BA',
       'Playoffs', 'RankSeason', 'RankPlayoffs', 'G', 'OOBP', 'OSLG'],
      dtype='object')

In [15]:
data.dtypes

Team             object
League           object
Year              int64
RS                int64
RA                int64
W                 int64
OBP             float64
SLG             float64
BA              float64
Playoffs          int64
RankSeason      float64
RankPlayoffs    float64
G                 int64
OOBP            float64
OSLG            float64
dtype: object

In [13]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,1232.0,1988.957792,14.819625,1962.000,1976.750,1989.000,2002.000,2012.000
RS,1232.0,715.081981,91.534294,463.000,652.000,711.000,775.000,1009.000
RA,1232.0,715.081981,93.079933,472.000,649.750,709.000,774.250,1103.000
W,1232.0,80.904221,11.458139,40.000,73.000,81.000,89.000,116.000
OBP,1232.0,0.326331,0.015013,0.277,0.317,0.326,0.337,0.373
SLG,1232.0,0.397342,0.033267,0.301,0.375,0.396,0.421,0.491
BA,1232.0,0.259273,0.012907,0.214,0.251,0.260,0.268,0.294
Playoffs,1232.0,0.198052,0.398693,0.000,0.000,0.000,0.000,1.000
RankSeason,244.0,3.122951,1.738349,1.000,2.000,3.000,4.000,8.000
RankPlayoffs,244.0,2.717213,1.095234,1.000,2.000,3.000,4.000,5.000
G,1232.0,161.918831,0.624365,158.000,162.000,162.000,162.000,165.000
OOBP,420.0,0.332264,0.015295,0.294,0.321,0.331,0.343,0.384
OSLG,420.0,0.419743,0.026510,0.346,0.401,0.419,0.438,0.499

In [4]:
#Simplest mean : Mean of any column

mean_RS= data['RS'].mean()
print(mean_RS)

715.0819805194806

In [5]:
#Or##
data.RS.mean()

np.float64(715.0819805194806)

In [6]:
#Mean : Mean of any column by any team

data.loc[data.Team == "ARI"]
data.loc[data.Team == "ARI"].RS.mean()

np.float64(742.2)

In [7]:
#Mean : Mean of any column by any team of any specific year

data.loc[(data.Team == "ARI") & (data.Year > 2009)].RS.mean()
data.loc[(data.Team == "ARI") & (data.Year.isin([2005, 2007, 2009]))].RS.mean()
data.loc[(data.Team == "ARI") & (data.Year.isin([2005, 2007, 2009]))]
data.loc[data.Team == "ARI"].sort_values(by="RS", ascending=False).iloc[0]
data.loc[data.Team == "ARI"].groupby("Year")["RS"].mean()
mean_rs = data.loc[data.Team == "ARI"].groupby("Year")["RS"].mean()
max_mean_year = mean_rs.idxmax()
print("Year:", max_mean_year, "Mean RS:", mean_rs[max_mean_year])

Year: 1999 Mean RS: 908.0

In [8]:
#Mean RA

data.RA.mean()
data.loc[data.Team == "CHC"].RA.mean()
data.loc[(data.Team == "CHC") & (data.Year <= 2007)].RA.mean()

np.float64(727.2619047619048)