# Logistic Regression

In [1]:
import pandas as pd
import statsmodels.api as sm
import seaborn
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\Farzana Saif\\Downloads\\spam.csv")

In [3]:
data

      crl.tot  dollar   bang  money  n000  make yesno
0         278   0.000  0.778   0.00  0.00  0.00     y
1        1028   0.180  0.372   0.43  0.43  0.21     y
2        2259   0.184  0.276   0.06  1.16  0.06     y
3         191   0.000  0.137   0.00  0.00  0.00     y
4         191   0.000  0.135   0.00  0.00  0.00     y
...       ...     ...    ...    ...   ...   ...   ...
4596       88   0.000  0.000   0.00  0.00  0.31     n
4597       14   0.000  0.353   0.00  0.00  0.00     n
4598      118   0.000  0.000   0.00  0.00  0.30     n
4599       78   0.000  0.000   0.00  0.00  0.96     n
4600       40   0.000  0.125   0.00  0.00  0.00     n

[4601 rows x 7 columns]

In [4]:
data.describe().T

          count        mean         std  min   25%   50%      75%        max
crl.tot  4601.0  283.289285  606.347851  1.0  35.0  95.0  266.000  15841.000
dollar   4601.0    0.075811    0.245882  0.0   0.0   0.0    0.052      6.003
bang     4601.0    0.269071    0.815672  0.0   0.0   0.0    0.315     32.478
money    4601.0    0.094269    0.442636  0.0   0.0   0.0    0.000     12.500
n000     4601.0    0.101645    0.350286  0.0   0.0   0.0    0.000      5.450
make     4601.0    0.104553    0.305358  0.0   0.0   0.0    0.000      4.540

In [5]:
data.columns

Index(['crl.tot', 'dollar', 'bang', 'money', 'n000', 'make', 'yesno'], dtype='object')

In [6]:
data.dtypes

crl.tot      int64
dollar     float64
bang       float64
money      float64
n000       float64
make       float64
yesno       object
dtype: object